@model IEnumerable<IdentityRole>

@using Microsoft.AspNetCore.Authorization

@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "ListRoles";
}

<h1>ListRoles</h1>
@if (Model.Any())
{
    <a class="btn btn-primary mb-3" style="width: auto" asp-controller="Administration"
       asp-action="CreateRole">Add new role</a>

    foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role Id: @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title"> @role.Name</h5>
            </div>
            <div class="card-footer">
                <form asp-action="DeleteRole" asp-route-id="@role.Id" method="post">

                    @if ((await AuthorizationService.AuthorizeAsync(User, "EditRolePolicy")).Succeeded)
                    {
                        <a class="btn btn-primary" asp-controller="Administration" asp-action="EditRole"
                           asp-route-id="@role.Id">
                            Edit
                        </a>
                    }

                    <span id="confirmDeleteSpan_@role.Id" style="display: none">
                        <span>Are you sure you want to delete?</span>
                        <button type="submit" class="btn btn-danger">Yes</button>
                        <a href="#" class="btn btn-primary"
                           onclick="confirmDelete('@role.Id', false)">No</a>
                    </span>

                    <span id="deleteSpan_@role.Id">
                        <a href="#" class="btn btn-danger"
                           onclick="confirmDelete('@role.Id', true)">Delete</a>
                    </span>
                </form>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No roles created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a role
            </h5>
            <a class="btn btn-primary" style="width: auto" asp-controller="Administration" asp-action="CreateRole">
                Create role
            </a>
        </div>
    </div>
}

@section Scripts
{
    <script src="~/js/CustomScript.js"></script>
}