@using Microsoft.Extensions.Options
@using MyBoard.Models
@model MyBoard.Models.Advert
@inject IOptions<AzureStorageConfig> Settings
@{
    ViewData["Title"] = "Delete";
    var photoPath = "";
    if (Model.AdvertPhotos.Any())
    {
        photoPath = "https://" + Settings.Value.AccountName + ".blob.core.windows.net/" + Settings.Value.ImageContainer + "/" + (Model.AdvertPhotos[0].PhotoPath);
    }
    else
    {
        photoPath = "noimage.jpg";
    }
}

<h1 class="text-danger">Вы точно хотите удалить обьявление?</h1>


<div>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            <label asp-for="Title" class="col-sm-2 control-label">Заголовок</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Category" class="col-sm-4 control-label">Категория</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="col-sm-2">
            <label asp-for="ProductIsNew" class="control-label col-sm-4">Товар</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductIsNew)
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Price" class="control-label col-sm-2">Цена</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            <label asp-for="IsNegotiatedPrice" class="control-label">Договорная цена</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsNegotiatedPrice)
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Description" class="control-label">Описание</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dd>
            <img class="rounded" src="@photoPath" asp-append-version="true" style="width: 250px; height: 250px" />
        </dd>

    </dl>
</div>
<div>
    <form asp-controller="Home" asp-action="Delete" method="post">
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Удалить" />
        </div>
    </form>
</div>

<div>
    @Html.ActionLink("На главную", "Index")
</div>

