@using Microsoft.AspNetCore.Http.Extensions
@model MyBoard.ViewModels.AdvertEditViewModel
@{
    ViewData["Title"] = "DetailsAdvert";
    //var photoPath = "~/images/" + (Model.AdvertPhotos[0].PhotoPath ?? "noimage.jpg");
}

<h1>Обьявление</h1>

<div class="container">

    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            <label asp-for="Title" class="col-sm-2 control-label text-left">Заголовок</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Category" class="col-sm-4 control-label text-left">Категория</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="col-sm-2">
            <label asp-for="ProductIsNew" class="control-label col-sm-4 text-left">Товар</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductIsNew)
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Price" class="control-label col-sm-2 text-left">Цена</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            <label asp-for="IsNegotiatedPrice" class="control-label text-left">Договорная цена</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsNegotiatedPrice)
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Description" class="control-label text-left">Описание</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            <label asp-for="City" class="control-label text-left ">Город</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Phone" class="control-label text-left">Телефон</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dd>
            @foreach (var item in Model.ImageStrings)
            {
                var photoPath = "~/images/" + (item ?? "noimage.jpg");
                <img src="@photoPath" asp-append-version="true" style="width: 200px; height: 200px" class="m-2" />
                <hr />
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">На главную страницу</a>
</div>