@using Microsoft.AspNetCore.Mvc.Localization
@{
    ViewData["Title"] = "Home Page";
}


@inject IViewLocalizer Localizer
@*<div>
        <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
        <h1 class="text-center">
            Хотите
            <span class="txt-rotate"
                  data-period="2000"
                  data-rotate='[ " продать.", "купить.", "подарить.", "обменять.", "или еще что нибудь." ]'></span>
        </h1>
        <h2 class="text-center">Мы с радостью поможем в этом вам.</h2>
    </div>*@

<div class="container mt-4 p-4 rounded" style="background: bisque">
    <form asp-action="Search" method="get" asp-controller="Home">
        <div class="form-row">
            <div class="col-5">
                <input type="search" class="form-control" style="font-size: 20px" placeholder="@Localizer["String1"]" aria-label="Search" name="keyword" value="@ViewBag.keyword">
            </div>
            <div class="col-5" id="app" >
                <select  type="text" class="form-control" style="font-size: 20px" v-model="selectedCity">
                    @*<option value="">
                        @Localizer["String2"]
                    </option>*@
                    <option v-for="city in cities" v-bind:value="city.id">
                        {{city}}
                    </option>
                </select>
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary " style="font-size: 20px;">@Localizer["String3"]</button>
            </div>
        </div>

    </form>
</div>
<div class="container m-4" style="font-size: 20px">
    <div class="row ">
        <div class="col-4 bg-light text-dark">Недвижимость</div>
        <div class="col-4 bg-light text-dark">Транспорт</div>
        <div class="col-4 bg-light text-dark">Работа</div>
    </div>
    <div class="row">
        <div class="col-4 bg-light text-dark">Животные</div>
        <div class="col-4 bg-light text-dark">Электроника</div>
        <div class="col-4 bg-light text-dark">Спорт</div>
    </div>
    <div class="row">
        <div class="col-4 bg-light text-dark">Услуги</div>
        <div class="col-4 bg-light text-dark">Одежда</div>
        <div class="col-4 bg-light text-dark">Дети</div>
    </div>
    <div class="row">
        <div class="col-4 bg-light text-dark">Запчасти</div>
        <div class="col-4 bg-light text-dark">Обмен</div>
        <div class="col-4 bg-light text-dark">Подарю</div>
    </div>
    <div class="row">
        <div class="col-4 bg-light text-dark">Отдых</div>
        <div class="col-4 bg-light text-dark">Бизнес</div>
        <div class="col-4"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="image">
                    <img src="http://loremflickr.com/320/150" />
                </div>
                <div class="card-inner">
                    <div class="header">
                        <h2>Title</h2>
                        <h2>Sub-Head</h2>
                    </div>
                    <div class="content">
                        <p>Content area</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="image">
                    <img src="http://loremflickr.com/320/150" />
                </div>
                <div class="card-inner">
                    <div class="header">
                        <h2>Title</h2>
                        <h2>Sub-Head</h2>
                    </div>
                    <div class="content">
                        <p>Content area</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="image">
                    <img src="http://loremflickr.com/320/150" />
                </div>
                <div class="card-inner">
                    <div class="header">
                        <h2>Title</h2>
                        <h2>Sub-Head</h2>
                    </div>
                    <div class="content">
                        <p>Content area</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="image">
                    <img src="http://loremflickr.com/320/150" />
                </div>
                <div class="card-inner">
                    <div class="header">
                        <h2>Title</h2>
                        <h2>Sub-Head</h2>
                    </div>
                    <div class="content">
                        <p>Content area</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="image">
                    <img src="http://loremflickr.com/320/150" />
                </div>
                <div class="card-inner">
                    <div class="header">
                        <h2>Title</h2>
                        <h2>Sub-Head</h2>
                    </div>
                    <div class="content">
                        <p>Content area</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="image">
                    <img src="http://loremflickr.com/320/150" />
                </div>
                <div class="card-inner">
                    <div class="header">
                        <h2>Title</h2>
                        <h2>Sub-Head</h2>
                    </div>
                    <div class="content">
                        <p>Content area</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{

    <environment include="Development">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    </environment>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                info: 'hello',
                cities: [
                    '@Localizer["String2"]', 'Винница', 'Днепр', 'Донецк', 'Житомир', 'Запорожье', 'Ивано-Франковск', 'Киев', 'Кропивницкий', 'Луганск', 'Луцк', 'Львов', 'Николаев',
                    'Одесса','Полтава','Ровно','Сумы','Тернополь','Ужгород','Харьков','Херсон','Хмельницкий','Черкассы','Чернигов','Черновцы' 
                ]
            },
            selectedCity: ''
        });
    </script>
}
