@*@model IEnumerable<Board.Models.Advert>*@

@using MyBoard.Models
@model MyBoard.Models.IndexViewModel
@{
    ViewData["Title"] = "ListAll";
}
<style>
    @@font-face {
        font-family: 'FontAwesome';
        src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff') format('woff'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal
    }

    .glyphicon {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }

    .glyphicon-chevron-right:before {
        content: "\f054";
    }

    .glyphicon-chevron-left:before {
        content: "\f053";
    }
</style>

<h1>ListAll</h1>


<div class="container justify-content-center" style="display: flex">
    @{ int i = 3;}
    @foreach (var item in Model.Adverts)
    {

        if (i > 0 && i % 3 == 0)
        {
            @:</div><div class="row">
        }
        <div class="card p-1 m-2 w-25">
            <div class="card-img-top">
                @{ var photoPath = "~/images/" + (item.PhotoPath ?? "noimage.jpg"); }
                <img class="rounded img-fluid" src="@photoPath" asp-append-version="true" style="max-width: 320px; max-height: 150px;" />
            </div>
            <div class="card-inner">
                <div class="header">
                    <h2>@item.Title</h2>
                    <h2>
                        @item.Price
                    </h2>
                </div>
                <div class="card-body text-left">
                    <div>@item.Description</div>
                </div>
            </div>
        </div>

        i++;

    }
</div>
<hr/>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="ListAll"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-outline-primary">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="ListAll"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-outline-primary">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
